#footer {
	background-color: $charcoal;

	color: $white;

	width: 100%;

	small {
		font-size:  0.75em;
		text-align: center;

		width: 100%;
	}
}


@media only screen and (min-width: $md) {
	#footer {
		position: fixed;
		bottom:   0;
		left:     0;
		z-index:  0;
	}
}
