form {
	display:        flex;
	flex-direction: column;
	align-items:    center;

	width: 100%;

	::placeholder {
		color: $placeholder-text-color;
	}

	input, textarea, select, button {
		border: none;

		font-family: $form-font-family;

		&:focus {
			outline: none;
		}
	}

	input, textarea, select {
		background-color: $input-color;

		border-top:    $input-border-top;
		border-right:  $input-border-right;
		border-bottom: $input-border-bottom;
		border-left:   $input-border-left;
		border-radius: $input-radius;

		color: $input-text-color;

		margin-bottom: $input-margin;
		padding:       $input-padding;

		width: 100%;

		&:focus {
			border-top:    $input-focus-border-top;
			border-right:  $input-focus-border-right;
			border-bottom: $input-focus-border-bottom;
			border-left:   $input-focus-border-left;
		}
	}

	textarea {
		height: $textarea-height;
	}

	button {
		align-self: center;

		background-color: $button-color;
		box-shadow:       $shadow;

		border-top:    $button-border-top;
		border-right:  $button-border-right;
		border-bottom: $button-border-bottom;
		border-left:   $button-border-left;
		border-radius: $button-radius;

		color:     $button-text-color;
		font-size: $button-text-size;

		padding: $button-padding;

		&:hover {
			background-color: $button-color-hover;
			color:            $button-text-color-hover;
		}
	}

	input[type="radio"], input[type="checkbox"] {
		margin-right:  $input-margin;
		margin-bottom: 0;
		padding:       0;

		width: 13px;
	}
}

.button {
	align-self: center;

	background-color: $button-color;
	box-shadow:       $shadow;

	border-top:    $button-border-top;
	border-right:  $button-border-right;
	border-bottom: $button-border-bottom;
	border-left:   $button-border-left;
	border-radius: $button-radius;

	color:           $button-text-color;
	font-size:       $button-text-size;
	text-decoration: none;

	display: inline-block;

	padding: $button-padding;

	&:hover {
		background-color: $button-color-hover;
		color:            $button-text-color-hover;
	}
}
