#header {
	background-color: $primary;
	box-shadow:       0px 2px 0px $tertiary;;

	color: $secondary;

	position: fixed;
	top:      0;
	width:    100%;
	height:   $header-height;
	z-index:  3;

	.container {
		flex-direction:  row;
		align-items:     center;
		justify-content: flex-end;

		padding: 0;
		padding-right: $spacing;

		height: 100%;
	}

	#header-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: $header-height;
		text-decoration: none;

		img {
			border-radius: $circle;
			box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.8);
			display: none;

			margin-left: $spacing;
			height: 40px;
		}

		span {
			color: $secondary;
			font-family:     "Trebuchet MS";
			font-size:       1.15em;
			font-variant:    small-caps;
			font-weight:     100;
			letter-spacing:  4px;
		}
	}

	nav {
		display: none;

		ul {
			display: flex;
			margin-bottom: 0;
			padding: 0;
			height: $header-height;

			li {
				display:     flex;
				align-items: center;
				height: $header-height;
				transition: 0.2s;

				&:hover {
					background-color: lighten($primary, 7.5%);
				}

				a {
					color:           inherit;
					text-decoration: none;

					display: flex;
					align-items: center;

					padding: 0 $spacing;
					height: $header-height;

					&:hover {
						color: $tertiary;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: $sm) {
	#header {
		#header-logo {
			a {
				font-size: 1.3em;
			}
		}
	}
}

@media only screen and (min-width: $md) {
	#header {
		#header-logo {
			flex-direction: row-reverse;

			img {
				display: inline-block;
			}
		}
	}
}

@media only screen and (min-width: $lg) {
	#header {
		padding: 0 $spacing;

		#header-logo {
			flex-direction: row;

			img {
				margin-left: 0;
				margin-right: $spacing;
			}
		}

		.container {
			justify-content: space-between;
			padding-right: 0;
		}

		nav {
			display: block;
		}
	}
}
