/* iPad */
@media only screen and (min-width: $md) {
	main {
		margin-bottom: 82px;
		border-bottom: 3px solid $tertiary;
	}

	.container {
		padding: $padding;
	}

	#pagination {
		.container {
			flex-direction:  row;
			justify-content: space-between;

			.newer-posts, .go-back, .older-posts {
				flex-basis: 33.333333%;
			}

			.go-back {
				margin: 0;
				text-align: center;
			}

			.older-posts {
				text-align: right;
			}
		}
	}

	.post {
		margin-bottom: $padding;

		& > * {
			padding: $padding;
		}

		header {
			.feature-image, .profile-image {
				margin-bottom: $padding;
			}
		}

		section {
			.read-more {
				margin-top: $padding;
			}
		}

		footer {
			padding-top: $padding;

			.author {
				margin-top: $padding;

				.author-image {
					margin-bottom: $padding;
				}
			}
		}
	}
}
