/* iPad */
@media only screen and (min-width: $md) {
	main {
		margin-bottom: 82px;
	}

	.container {
		padding: $padding;
	}

	#pagination {
		.container {
			flex-direction:  row;
			justify-content: space-between;

			.newer-posts, .go-back, .older-posts {
				flex-basis: 33.333333%;
			}

			.go-back {
				margin: 0;
				text-align: center;
			}

			.older-posts {
				text-align: right;
			}
		}
	}

	.post {
		border-radius: $post-radius;
		margin-bottom: $padding;

		& > * {
			padding: $padding;
		}

		header {
			border-top-left-radius:  $post-radius;
			border-top-right-radius: $post-radius;
		}

		section {
			.read-more {
				margin-top: $padding;
			}
		}

		footer {
			border-bottom-left-radius:  $post-radius;
			border-bottom-right-radius: $post-radius;

			padding-top: $padding;
		}
	}
}
