.svg {
	background-position: center center;
	background-repeat:   no-repeat;

	content: "";
	display: inline-block;

	width:  100%;
	height: 100%;
}

.svg-hamburger {
	@extend .svg;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><rect y="0" width="50" height="10" fill="%23f7f7f7" /><rect y="20" width="50" height="10" fill="%23f7f7f7" /><rect y="40" width="50" height="10" fill="%23f7f7f7" /></svg>');
}

/* IE 10 & 11: SVGs need to be Base64 because reasons */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.svg-hamburger {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHJlY3QgeT0iMCIgd2lkdGg9IjUwIiBoZWlnaHQ9IjEwIiBmaWxsPSIjZjdmN2Y3IiAvPjxyZWN0IHk9IjIwIiB3aWR0aD0iNTAiIGhlaWdodD0iMTAiIGZpbGw9IiNmN2Y3ZjciIC8+PHJlY3QgeT0iNDAiIHdpZHRoPSI1MCIgaGVpZ2h0PSIxMCIgZmlsbD0iI2Y3ZjdmNyIgLz48L3N2Zz4=');
	}
}
