/* Responsive Sizes */
$xs:  320px; /* iPhone 5   */
$sm:  360px; /* 720p Phone */
$md:  768px; /* iPad       */
$lg: 1024px; /* iPad Pro   */
$xl: 1200px; /* Desktop    */

/* General Site */
$font-family: "Noto Sans", "Liberation Sans", -apple-system, "Helvetica Neue", Arial, sans-serif;
$circle:           999px;
$spacing:           15px;
$padding:   $spacing * 2;
$indent:    $spacing * 3;
$transition:        0.5s;
$shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
$post-radius: 4px;

/* Shading */
$lighten: rgba(255, 255, 255, 0.5);
$darken:  rgba(  0,   0,   0, 0.5);

/* Color */
$black:       #000000;
$obsidian:    #130c13;
$charcoal:    #222222;
$grey-dark:   #777777;
$grey-medium: #a7a7a7;
$grey-light:  #e7e7e7;
$white:       #ffffff;

/* Palette */
$primary:   $charcoal;
$secondary: $white;
$tertiary:  #ff66ff;
$highlight: #ffff33;
$code: adjust-color($tertiary, $lightness: -40%, $saturation: -75%);

/* Top */
$header-height: 60px;

/* Hamburger */
$hamburger-menu-width: 200px;
$hamburger-text-size:  1.2em;
