@import "reset";
@import "fonts";
@import "variables";
@import "typography";
@import "svg";
@import "header";
@import "footer";
@import "hamburger";

body {
	background-color: $primary;
}

a {
	color: $secondary;
	text-decoration-color: $tertiary;
	text-decoration-style: dashed;
	transition: 0.2s;

	&:hover {
		color: $tertiary;
		text-decoration: none;
	}
}

p {
	text-align: justify;
}

ol {
	padding-left:  $indent;

	li {
		line-height: 1.5em;
	}
}

ul {
	padding-left:  $indent;

	li {
		list-style:  disc;
		line-height: 1.5em;
	}
}

mark {
	background-color: $highlight;
	border-radius:    3px;

	color:  $black;

	padding: 0 3px;
}

code:not([class]) {
	background-color: $code;
	border-radius:    3px;

	padding: 0 3px;
}

pre {
	box-shadow: inset 0px -1px 0px 1px lighten($primary, 10%), inset 0px 1px 0px 1px darken($primary, 10%);
	white-space: pre;
}

pre:not([class]) {
	background-color: #272822;
	border-radius:    0.3em;

	margin:  0.5em 0;
	padding: 1em;

	code {
		background-color: #272822;
		border:           none;
	}
}

main {
	background-color: $obsidian;
	box-shadow:       0px 2px 0px $tertiary;

	position: relative;
	z-index:  1;
}

.container {
	display:        flex;
	align-items:    center;
	flex-direction: column;

	margin:    0 auto;
	width:     100%;
	max-width: $xl;
}

.nav-current {
	background-color: lighten($primary, 7.5%);
	box-shadow:       inset 0px -2px 0px $tertiary;

	color: $tertiary;
}

#posts {
	background-color: $obsidian;
	width: 100%;

	&::before {
		content: "";
		display: block;

		width:  100%;
		height: $header-height;
	}
}

#pagination {
	background-color: $obsidian;

	.container {
		color: $secondary;

		justify-content: center;

		padding-top: 0;

		.go-back {
			margin: $spacing 0;
		}
	}

	.grey {
		color: $grey-dark;
	}
}

.post {
	background-color: $primary;
	box-shadow:       $shadow;

	color: $secondary;

	display:        flex;
	flex-direction: column;
	align-items:    center;

	margin-bottom: $padding;

	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	& > * {
		padding: $spacing;
	}

	header {
		background-image: linear-gradient(rgba(lighten($primary, 10%), 0.65), rgba($primary, 0.85)), url("../images/carbon.png");

		border-top:    1px solid lighten($primary, 10%);
		border-bottom: 2px solid darken($primary, 10%);
		box-shadow:    0px 1px 0px lighten($primary, 10%);

		width:         100%;

		h1, h2 {
			margin-bottom: 0;

			a {
				text-decoration: none;
			}
		}

		div {
			text-align: center;
		}
	}

	section {
		width: 100%;

		* {
			max-width: 100%;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: $padding;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		iframe {
			display: block;

			margin-right: auto;
			margin-left:  auto;
		}

		pre {
			code {
				display: block;
				width: 100%;
			}
		}

		.profile-image {
			border:        2px solid $black;
			border-radius: $circle;
			box-shadow:    $shadow;

			margin-bottom: $spacing;
		}

		.feature-image {
			margin-bottom: $spacing;
		}

		.kg-card-markdown {
			& > * {
				margin-bottom: $spacing;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.read-more {
			text-align: right;
			margin-top: $spacing;
		}
	}

	footer {
		background-image: linear-gradient(rgba($primary, 0.85), rgba($obsidian, 0.9)), url("../images/carbon.png");

		border-top: 1px solid lighten($primary, 10%);
		box-shadow: 0px -2px 0px darken($primary, 10%);

		text-align: center;

		padding-top: $spacing;
		width:       100%;
	}
}

@import "media";
