@import "reset";
@import "fonts";
@import "variables";
@import "typography";
@import "svg";
@import "header";
@import "footer";
@import "hamburger";
@import "form";
@import "icon";
@import "social";
@import "table";
@import "ie";

body {
	background-color: $primary;
}

a {
	color: $secondary;
}

p {
	text-align: justify;

	padding-bottom: $spacing;

	&:last-of-type {
		padding-bottom: 0;
	}
}

ol {
	padding-left:  $indent;
	margin-bottom: $spacing;

	li {
		line-height: 1.5em;
	}
}

ul {
	padding-left:  $indent;
	margin-bottom: $spacing;

	li {
		list-style:  disc;
		line-height: 1.5em;
	}
}

main {
	background-color: $obsidian;

	position: relative;
	z-index:  1;
}

.container {
	display:        flex;
	align-items:    center;
	flex-direction: column;

	margin:    0 auto;
	padding:   $spacing;
	width:     100%;
	max-width: $xl;
}

.nav-current {
	background-color: lighten($primary, 7.5%);
	border-bottom:    3px solid $tertiary;

	color: $tertiary;
}

#posts {
	&::before {
		content: "";
		display: block;

		width:  100%;
		height: $header-height;
	}

	background-color: $obsidian;
	width: 100%;
}

#pagination {
	background-color: $obsidian;

	.container {
		color: $secondary;

		justify-content: center;

		padding-top: 0;

		.go-back {
			margin: $spacing 0;
		}
	}

	.grey {
		color: $grey-dark;
	}
}

.post {
	background-color: $primary;
	border-radius:    4px;
	box-shadow:       $shadow;

	color: $secondary;

	display:        flex;
	flex-direction: column;
	align-items:    center;

	margin-bottom: $spacing;

	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	& > * {
		padding: $spacing;
	}

	header {
		background-image: linear-gradient(rgba(lighten($primary, 10%), 0.65), rgba($primary, 0.85)), url("../images/carbon.png");

		border-top-left-radius:  4px;
		border-top-right-radius: 4px;

		border-top:    1px solid lighten($primary, 10%);
		border-bottom: 2px solid darken($primary, 10%);
		box-shadow:    0px 1px 0px lighten($primary, 10%);

		width:         100%;

		h1, h2 {
			margin-bottom: 0;

			a {
				text-decoration: none;
			}
		}

		div {
			text-align: center;
		}

		.feature-image {
			display: block;
			margin: 0 auto;
			margin-bottom: $spacing;
		}

		.profile-image {
			border:        2px solid $black;
			border-radius: $circle;
			box-shadow:    $shadow;

			display: block;

			margin: 0 auto;
			margin-bottom: $spacing;
		}
	}

	section {
		width: 100%;

		a {
			color: $tertiary;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		iframe {
			display: block;

			margin-right:  auto;
			margin-bottom: $spacing;
			margin-left:   auto;

			max-width: 100%;
		}

		pre {
			margin-bottom: $spacing;

			code {
				display: block;
				width: 100%;
			}
		}

		.read-more {
			text-align: right;
			margin-top: $spacing;
		}
	}

	footer {
		background-image: linear-gradient(rgba($primary, 0.85), rgba($obsidian, 0.9)), url("../images/carbon.png");

		border-bottom-left-radius:  4px;
		border-bottom-right-radius: 4px;

		border-top: 1px solid lighten($primary, 10%);
		box-shadow: 0px -2px 0px darken($primary, 10%);

		display:     flex;
		flex-direction: column;
		align-items: center;

		padding-top: $spacing;
		width:       100%;

		.author {
			display: flex;
			flex-direction: column;
			align-items: center;

			margin-top: $spacing;

			.author-image {
				border: 1px solid $black;
				border-radius: $circle;

				margin-bottom: $spacing;
				width: 64px;
			}

			address {
				font-style: normal;
			}
		}
	}
}

@import "media";
