{{!< default}}
{{#author}}
<section id="posts">
	<div class="container">
		<article itemscope itemtype="http://schema.org/Article" class="post">
			<header>
				<h1 itemprop="name">{{name}}</h1>
			</header>
			<section itemprop="articleSection">
				{{#if profile_image}}<img itemprop="image" class="profile-image" src="{{profile_image}}" alt="" />{{/if}}
				{{bio}}
			</section>
		</article>
	</div>
</section>
{{/author}}
