{{!< default}}
{{#post}}
<section id="posts">
	<div class="container">
		<article itemscope itemtype="http://schema.org/Article" class="post">
			<header>
				<h1 itemprop="name">{{title}}</h1>
			</header>
			<section itemprop="articleSection">
				{{#if feature_image}}<img itemprop="image" class="feature-image" src="{{feature_image}}" alt="" />{{/if}}
				{{content}}
			</section>
			<footer></footer>
		</article>
	</div>
</section>
{{/post}}
