<header id="header">
	<div class="container">
		<a id="header-logo" href="/">
			<img src="{{asset 'images/avatar.png'}}" alt="" />
			<span>LandonManning.com</span>
		</a>
		<nav>
			<ul>
				{{navigation}}
			</ul>
		</nav>
	</div>
</header>
